// dark mode based colors , need to reverse for light mode
$b-50: hsl(205, 87%, 94%);
$b-100: hsl(207, 89%, 86%);
$b-200: hsl(207, 90%, 77%);
$b-300: hsl(207, 89%, 68%);
$b-400: hsl(207, 90%, 61%);
$b-500: hsl(207, 90%, 54%);
$b-600: hsl(208, 79%, 51%);
$b-700: hsl(210, 79%, 46%);
$b-800: hsl(212, 80%, 42%);
$b-900: hsl(216, 85%, 34%);
$b-A100: hsl(217, 100%, 75%);
$b-A200: hsl(218, 100%, 63%);
$b-A400: hsl(218, 100%, 58%);
$b-A700: hsl(224, 100%, 58%);

// blue
$blue-50: hsl(235, 87%, 74%);
$blue-100: hsl(235, 89%, 66%);
$blue-200: hsl(233, 90%, 57%);
$blue-300: hsl(231, 89%, 48%);
$blue-400: hsl(231, 90%, 41%);
$blue-500: hsl(232, 90%, 34%);
$blue-600: hsl(232, 79%, 31%);
$blue-700: hsl(231, 79%, 26%);
$blue-800: hsl(233, 80%, 22%);
$blue-900: hsl(235, 85%, 14%);
$blue-A100: hsl(235, 100%, 38%);
$blue-A200: hsl(235, 100%, 48%);
$blue-A400: hsl(235, 100%, 43%);
$blue-A700: hsl(235, 100%, 55%);

// yellow
$yellow-50: hsl(43, 87%, 74%);
$yellow-100: hsl(43, 89%, 66%);
$yellow-200: hsl(42, 90%, 57%);
$yellow-300: hsl(42, 89%, 48%);
$yellow-400: hsl(42, 90%, 41%);
$yellow-500: hsl(42, 90%, 34%);
$yellow-600: hsl(42, 79%, 31%);
$yellow-700: hsl(42, 79%, 26%);
$yellow-800: hsl(42, 80%, 22%);
$yellow-900: hsl(43, 85%, 14%);
$yellow-A100: hsl(43, 100%, 38%);
$yellow-A200: hsl(43, 100%, 48%);
$yellow-A400: hsl(43, 100%, 43%);
$yellow-A700: hsl(43, 100%, 55%);

$grey-0: hsl(0, 0%, 100%);
$grey-10: hsl(0, 0%, 96%);
$grey-50: hsl(0, 0%, 94%);
$grey-100: hsl(0, 0%, 88%);
$grey-200: hsl(0, 0%, 76%);
$grey-300: hsl(0, 0%, 64%);
$grey-400: hsl(0, 0%, 52%);
$grey-500: hsl(0, 0%, 40%);
$grey-600: hsl(0, 0%, 32%);
$grey-700: hsl(0, 0%, 24%);
$grey-800: hsl(0, 0%, 16%);
$grey-900: hsl(0, 0%, 8%);
$grey-1000: hsl(0, 0%, 0%);

:export {

  primary-50: $blue-50;
  primary-100: $blue-100;
  primary-200: $blue-200;
  primary-300: $blue-300;
  primary-400: $blue-400;
  primary-500: $blue-500;
  primary-600: $blue-600;
  primary-700: $blue-700;
  primary-800: $blue-800;
  primary-900: $blue-900;

  secondary-50: $yellow-50;
  secondary-100: $yellow-100;
  secondary-200: $yellow-200;
  secondary-300: $yellow-300;
  secondary-400: $yellow-400;
  secondary-500: $yellow-500;
  secondary-600: $yellow-600;
  secondary-700: $yellow-700;
  secondary-800: $yellow-800;
  secondary-900: $yellow-900;
    

  grey-0: $grey-0;
  grey-10: $grey-10;
  grey-50: $grey-50;
  grey-100: $grey-100;
  grey-200: $grey-200;
  grey-300: $grey-300;
  grey-400: $grey-400;
  grey-500: $grey-500;
  grey-600: $grey-600;
  grey-700: $grey-700;
  grey-800: $grey-800;
  grey-900: $grey-900;
  grey-1000: $grey-1000;

}