@import '_tokens.module.scss';

:export {
  // ==============================|| DARK THEME VARIANTS ||============================== //

  // paper & background
  paper: $darkPaper;
  background: $darkBackground;

  // dark 800 & 900
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;

  // text variants
  textTitle: $darkTextTitle;
  textPrimary: $darkTextPrimary;
  textSecondary: $darkTextSecondary;

  // primary dark
  primaryLight: $darkPrimaryLight;
  primaryMain: $darkPrimaryMain;
  primaryDark: $darkPrimaryDark;
  primary200: $darkPrimary200;
  primary800: $darkPrimary800;

  // secondary dark
  secondaryLight: $darkSecondaryLight;
  secondaryMain: $darkSecondaryMain;
  secondaryDark: $darkSecondaryDark;
  secondary200: $darkSecondary200;
  secondary800: $darkSecondary800;

  // grey
  grey50: $grey900;
  grey100: $grey700;
  grey200: $grey600;
  grey300: $grey500;
  grey500: $grey300;
  grey600: $grey200;
  grey700: $grey100;
  grey900: $grey50;


  // success
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;
 }
 